<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between;">
        <h2><a href="/">Quora</a></h2>
        <div style="display: grid;">
            Username : {{user}}
            <a style="padding: 10px 50px;" href="{% url 'logout_view' %}">Logout</a>
        </div>
    </div>
    <hr>
    {% block body %}{% endblock %}
</body>
</html>