{% extends 'base.html' %}
{% block body %}
<b style="color: #b92b27;">Question:</b>
<p>{{question.text}}</p>
<br>
<b>Total Answers</b>:{{question.total_answers}}
<br>
<br>
<b style="color: #b92b27;"><u>Answers:</u></b>
{% if question.answers %}
<br>
<br>
<div>
    {% for i in question.answers.all %}
    <div>
        Answer No. {{forloop.counter}}
    </div>
    <p>
        {{i.text}} <br>
        <small style="color: gray;"><b>Answered by</b> - {{i.created_by}} | <b>Answered On</b> - {{i.created_date}}</small>
    </p>
    <form action="{% url 'question_answer_like_view' question.id i.id %}">
        <span style="color: gray;">👍 {{i.total_likes}} Likes</span>
        {% if user in i.likes.all %}
        <button disabled>Liked</button>
        {% else %}
        <button>Like</button>
        {% endif %}
    </form>
    <hr>
    {% endfor %}
</div>
{% else %}
No Answers Yet
{% endif %}
{% endblock %}